[2014-03-05 12:56] garaemon opened #1 "jsk_footstep_controllerで足裏中心から足のend-coordsのoffsetを指定できるように"
offsetを反映させる必要がある。

paramで渡すようにする。

[2014-03-05 13:37] garaemon opened #2 "jsk_joyで無線ps3を自動認識するようにする"
moved from https://github.com/jsk-ros-pkg/jsk_common/issues/290

xbox, ps3wiredと同様にps3(bluetooth)もサポートする

[2014-03-05 13:37] k-okada opened #3 "rename jsk_joy to jsk_teleop_joy"
忘れていました。やります

[2014-03-05 13:52] #3 closed, assigned to k-okada

[2014-03-07 13:32] #2 closed, assigned to nobody

[2014-03-11 07:17] garaemon opened #9 "add rosbuild test"

[2014-03-12 10:39] #9 closed, assigned to garaemon

[2014-03-25 03:34] #1 closed, assigned to garaemon

[2014-04-13 17:42] k-okada opened #16 "eus_qp fails on indigo"
eus_qp currently blocks http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/jsk-install-setup/10/ROS_DISTRO=indigo,slave=ec2/consoleFull,
https://github.com/ros-planning/geometric_shapes/issues/17 might be good example to fix this  problem.

[2014-04-14 10:17] t-karasawa opened #17 "hrpsysの歩行生成器に速度指令を入力するジョイスティックのプログラム"
@snozawa どのトピックに速度指令を出せばいいですか

[2014-04-16 09:08] #16 closed, assigned to s-noda

[2014-04-17 09:01] garaemon opened #21 "future plan for joy stuff"
this is a discussion form about the plan how to handle joy programs

[2014-05-10 09:41] YoheiKakiuchi opened #26 "jsk_ik_serverでcentroidの目標を変更する"
jsk_ik_serverでcentroidの目標が、両足ひらのconvex-hullの中にあればいいように
なっていると思いますが、これを変更するにはどうしたらいいですか？
例えば、foot-mid-coordsに中心がある半径１ｃｍの円にするなどです。

[2014-05-13 09:20] #26 closed, assigned to nobody

[2014-05-19 04:06] mmurooka opened #28 "IK server をfullbodyで使うと足の位置が少しずつずれる"
Fullbody MoveItとIK serverを合わせて使うと，
IKサーバ上のeusモデルの足先位置がだんだんずれていきます．

IKの誤差が蓄積しているようで，
前に @s-noda に仕様だと聞いたのですが，
やっぱり不便に感じるので直していただくことはできそうでしょうか．

[2014-05-21 05:50] YoheiKakiuchi opened #29 "frame_id on response of ik_server"
ik_server returns ik solution with fixed frame_id, "odom".
Is it better that ik server returns a solution with the same frame_id as request msg ?

[2014-07-01 09:31] davetcoleman opened #56 "jsk_teleop_joy missing dep on jsk_rviz_plugins.msg"
I know how to work around, but:

[code]

[2014-07-24 11:17] tarukosu opened #74 "joy.py does not run in groovy"
joy.py が groovy で動きません

[code]

[2014-07-25 01:35] #21 closed, assigned to nobody

[2014-07-25 01:35] #56 closed, assigned to nobody

[2014-08-18 11:14] garaemon opened #80 "トラックボールで視点を動かすプログラム"
@mmurooka 以前trackpointを/joyに出していましたが、あれはどうやっていましたか?

メモ
- マウスとして無効化する

[code]

[2014-09-12 18:18] #80 closed, assigned to nobody

[2014-10-07 07:04] tarukosu opened #94 "ik-server でメモリリークが起こる"
gazebo, hrpsys, ik-server を動かしたまましばらく放置していた所，ik-server が 44GB のメモリを使っていました．

@s-noda お願いします．

[2014-10-09 04:00] #94 closed, assigned to nobody

[2014-10-09 04:00] #74 closed, assigned to nobody

[2014-10-14 03:09] hyaguchijsk opened #103 "HRP2W用のik_server"
HRP2W用のik_serverがなかったので，僕の方で追加しておきます．
https://github.com/start-jsk/rtmros_tutorials/pull/87
https://github.com/start-jsk/rtmros_tutorials/pull/88
この２つのPRがマージされていないとHRP2Wのモデルが生成されませんが，
待てないので手元で生成したものでテストします．

[2014-10-16 17:33] mmurooka opened #111 "Midiコントローラの値がアップデートされない"
midi_config_player.pyをつかって，Midiコントローラの値をJoyトピックとしてpublish していますが，
スライダやつまみを動かさないと値を取得できない問題に困っています．
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_teleop_joy/scripts/midi_config_player.py

スライダにアクチュエータがついているMidiコントローラで，
スライダをアクチュエートして動かした場合にも，
動いた後のスライダの値を取得することができません．

何か頑張れば解決できるでしょうか．

[2014-10-18 05:40] #111 closed, assigned to nobody

[2014-10-20 02:06] #28 closed, assigned to s-noda

[2014-10-20 02:10] mmurooka opened #115 "ロボットマーカの足裏座標系を統一したい"
[1] が出す/groundというtfと
[2]から取得できるHRP2マーカの足裏poseと
eusモデルのfoot-midcoordsがあって，
[1]と[2]， [2]とeusモデルの間で微妙に違っています．
（[1]とeusモデルは同じかもしれないですが未確認．）

https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/config/hrp2jsknt_sim.yaml#L10-L18
の設定でeusモデルと同じになるはずでしたら，この設定を使うように統一するのがよろしいでしょうか．

[1] https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/scripts/foot_con

[2014-11-07 13:39] mmurooka opened #135 "odom_on_groundが片足接地時に更新されない"
まだしっかり問題を整理できていないのですが，
実験中にロボットをずっと地面に置いていたにも関わらず，
気がついたらRviz上のロボットが浮いていることがあった気がして，
以下が原因ではないかと思っています．

https://github.com/jsk-ros-pkg/jsk_control/pull/133 で出すようにしていただいた
/odom_on_ground は 片足接地時（stateがrfootかlfootのとき）に更新されておらず，
これによって，
リーチング時などに重心が片足に移り片足接地になっているときに足を曲げ伸ばしすると，
Rviz上のロボットモデルがodom_on_groundに対して浮いて見えるというようになっていることが原因かと思います．

歩いているときは片足設置時でもodom_on_groundは更新されてほしくない気がするので，
どうするのがいいのかは難

[2014-11-08 08:28] #135 closed, assigned to nobody

[2014-11-10 09:03] #115 closed, assigned to nobody

[2014-11-27 17:37] garaemon opened #161 "hand-eye calib用の姿勢を作るパッケージ"
rosのcalibrationを利用するために、その姿勢を作るパッケージを用意する

https://github.com/garaemon/jsk_control/tree/add-jsk-calibration-package で作業中

[2014-12-04 08:39] #161 closed, assigned to nobody

[2014-12-04 08:40] garaemon opened #171 "sample calibration poses to see different checkerboards orientation"
need to sample poses with z-axis sampling

[2014-12-15 13:46] #171 closed, assigned to nobody

[2014-12-15 13:48] garaemon opened #178 "search good calibration parameter"
どの軸を推定すればいいのか、とか

面倒なので2^10のパターンを作って一気に計算してみている
https://gist.github.com/garaemon/a1e4731933424925ae96

[2014-12-16 05:22] garaemon opened #179 "立ち位置探索プログラム"
- [x] 逆運動学が解けるか
- [ ] demo以下にべったりかくのではなく、ちゃんとライブラリとして切り離す。
- [ ] 十分速いか
- [ ] 環境と衝突しないか
- [ ] 経路はあるのか
- [ ] 環境と衝突しないかつ見えない領域にいっていてないか(オクルージョン評価)
- [ ] visibilityが十分確保できる立ち位置なのか

[2014-12-18 11:10] mmurooka opened #180 "eus_qpoases patch fail"
[code]

[2014-12-19 10:04] #180 closed, assigned to nobody

[2015-01-08 03:06] k-okada commented on #180
currently this package is failed on debbuild firm -> http://jenkins.ros.org/view/HbinP32/job/ros-hydro-eus-qpoases_binarydeb_precise_i386/72/console so releasead new version -> https://github.com/jsk-ros-pkg/jsk_control/commit/130aabfe6cfad5672c47fad8e43b7e620d8037da

please release (or ask releasing) the package from http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/add_tag/build?delay=0sec,  when

[2015-01-22 02:47] mmurooka opened #201 "footcoordsの接地判定で力センサ値を座標変換する"
@garaemon

https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/src/footcoords.cpp
の接地判定で，/lfsensor, /rfsensor をそのまま読んでいますが，
力センサ座標系に変換する必要がありそうです．

HRP2とSTAROで力センサの座標系が異なっていました．
（`rostopic echo /lfsensor`で，HRP2は接地時にZ成分が正の値，STAROは接地時にZ成分が負の値になる．）
Rviz上の力センサを表す矢印は，どちらのロボットも正しく出ているのでtfで変換すれば正しくなると思います．

[2015-01-22 02:55] garaemon commented on #201
STAROとHRP2の力センサ座標系ってなんだろう? frame教えてもらえる?
おそらく、STAROは

`hoge->fuga->wrench`みたいになんか一個挟まってて、その一つ上が知りたいです. たぶんhogeとfugaが反対を向いているんじゃないかな

[2015-01-22 03:05] garaemon commented on #201
STAROの力センサ、回転だけじゃなくて位置も変えてるのか,,, 面倒ですねー

[2015-01-22 03:15] mmurooka commented on #201
STAROの足力センサまわりのtfです．
HRP2と同じに見えます，というので合っていますでしょうか．

![image](https://cloud.githubusercontent.com/assets/6636600/5849965/4142e524-a230-11e4-9839-f7ea8730caec.png)

[2015-01-22 03:39] garaemon commented on #201
https://github.com/jsk-ros-pkg/jsk_control/issues/202
これで対応しました。
とりあえずlleg_end_coords/rleg_end_coordsと同じ座標系で値を見るようにしましたが、`lfoot_sensor_frame`, `rfoot_sensor_frame`を適切に指定してください

[2015-01-22 03:41] garaemon commented on #201
なるほど、このプルリクエストで動くようになると思います

[2015-01-22 04:00] snozawa commented on #201
ちなみに接地判定はどういう処理をしていますか？

hrpsys-baseの方でも似たような値を計算してますが、取得できるとよかったりしますでしょうか？

[2015-01-22 04:07] garaemon commented on #201
lowpass filterかけて、閾値処理ですね。
取得できると良いですね、という話は以前も出てましたが。

[2015-01-22 04:09] garaemon commented on #201
ついでに、ですがhrpsysではエンコーダからルートリンクの速度とかは計算していますか?
それも欲しいですね

[2015-01-22 04:15] mmurooka commented on #201
ありがとうございます．

[2015-01-22 04:19] garaemon commented on #201
マージしたので確認してみてください

[2015-01-22 04:44] mmurooka commented on #201
[code]
だと以下のエラーでした．
[code]

[code]
では，エラーが出ませんでしたが，座標系が違うままでした．

[2015-01-22 04:47] garaemon commented on #201
ふむ、一回目は失敗するのかなぁ、対応するのでちょい待ちです

[2015-01-22 04:51] mmurooka commented on #201
あとから，

したら，上がって座標も合っていて解決しました．

start_ros_bridgeでいろいろ一緒に上がるなかで，
lleg_end_coords のtfがpublishされる前に，footcoordsが始まってしまうのが問題みたいですね．

[2015-01-22 04:54] mmurooka commented on #201
したら

のときも，
5回に3回くらいは，
[code]
で落ちてしまいます．
5回に2回の上がるときは，
[code]
というエラーが5秒くらい出てその後は出なくなって，正しい接地状態が得られます．

[2015-01-22 04:56] garaemon commented on #201
了解です、五分待ってください

✉︎ Ryohei

On Thu, Jan 22, 2015 at 1:54 PM, Masaki Murooka <notifications@github.com>
wrote:

[2015-01-22 04:59] garaemon commented on #201
https://github.com/jsk-ros-pkg/jsk_control/pull/203
これでどうだ?

[2015-01-22 05:21] garaemon commented on #201
マージしたので試してみてください。今度こそうまくいくはず

[2015-01-22 05:37] mmurooka commented on #201
動きました．ありがとうございました．

[2015-01-22 05:37] #201 closed

[2015-01-26 09:33] garaemon opened #204 "cannot compile eus_qpoases by `catkin build`"
[code]

[2015-01-26 09:41] garaemon commented on #204
sorry, it's already fixed

[2015-01-26 09:41] #204 closed

[2015-02-02 09:39] garaemon commented on #178
with leg calibration, we cannot get good results...

[2015-02-02 09:39] #178 closed

[2015-02-02 09:40] garaemon opened #208 "eus_qp cannot compile on indigo/14.04"
[code]

[2015-02-05 13:41] garaemon commented on #208
fixed

[2015-02-05 13:41] #208 closed

[2015-02-05 13:42] garaemon opened #211 "eus_nlopt cannot compile with `catkin build`"
https://github.com/jsk-ros-pkg/jsk_common/pull/736

[code]

[2015-02-05 15:50] k-okada commented on #211
do you have this error after https://github.com/jsk-ros-pkg/jsk_common/pull/736?

[2015-02-05 15:51] garaemon commented on #211
Yes I had

[2015-02-06 03:41] garaemon commented on #211
fixed by https://github.com/jsk-ros-pkg/jsk_common/issues/738

[2015-02-06 04:49] garaemon commented on #211
Still failed

`catkin build eus_nlopt` => success
`catkin build` => failed on eus_nlopt

[2015-02-06 05:48] garaemon opened #213 "eus_qpoases cannot be compiled with ccache"
[code]

[2015-02-07 11:35] garaemon opened #214 "initial pose of right arm of hrp2 in jsk_calibration is wrong"
![screenshot_from_2015-02-07 20 30 47](https://cloud.githubusercontent.com/assets/40454/6091955/bb5c3218-af08-11e4-9779-cb5034f66045.png)

something wrong...

* left arm initial position looks good
* right arm is not good apparently

[2015-02-08 12:45] garaemon commented on #213
solved by https://github.com/jsk-ros-pkg/jsk_control/issues/219

[2015-02-08 12:45] #213 closed

[2015-02-08 13:09] furushchev opened #220 "Where shold be put packages for eyetracker/psmove-like human machine interaction devices on?"
Now in lab, there are several devices working around and codes for them.
I'd like to put the codes on jsk repos and share them.
It is very difficult to me where to put these packages.
Maybe out choice are:
1. make `jsk_control/jsk_devices` directory and put them into this.
2. make another new git repo that is named like `jsk_interfaces`
3-. other ideas

Which is better to do?

[2015-02-08 13:12] garaemon commented on #220
I prefer flat filesystem under jsk_control repository.

[2015-02-08 13:14] furushchev commented on #220
@garaemon  I'll try to do it! Thank you. :+1:

[2015-02-08 13:14] #220 closed

[2015-02-13 13:25] aginika opened #225 "jsk_control is not released in indigo?"
I couldn't find jsk_ik_server in apt...
Is there any reason jsk_ik_server and others is released only in hydro?

[2015-02-13 13:27] garaemon commented on #225
http://www.ros.org/debbuild/indigo.html

jsk_control is not released to indigo? @k-okada

[2015-02-13 14:15] k-okada commented on #225
ok, released, please take care > @aginika

--
◉ Kei Okada

On Fri, Feb 13, 2015 at 10:27 PM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-02-13 15:14] aginika commented on #225
Thank you.

[2015-02-13 15:14] #225 closed

[2015-04-24 06:05] iory opened #289 "eus_qp could not compile"
[code]

@s-noda

[2015-04-24 09:07] s-noda commented on #289
I could have built this package 3 days ago by using newly installed Ubuntu 12.04 machine and hydro ROS environment. But, I will check again soon.

Is your environment up to date, @iory ?

In my environment, ```fexcept_t``` is seemed to be declared in ```bits/fenv.h```.
```bits/fenv.h``` is included in ```boost/detail/fenv.hpp```  if the following condition was true;
[code]

And this ```boost/detai

[2015-06-16 06:34] k-okada opened #336 "add euslisp/test-eus-qpoases.l as test program"
see https://github.com/jsk-ros-pkg/jsk_robot/blob/master/jsk_baxter_robot/baxtereus/CMakeLists.txt#L67 for example

[2015-06-16 09:27] snozawa commented on #336
:+1: , thanks!

[2015-06-16 15:30] #336 closed

[2015-06-19 08:06] airballking opened #349 "eus_qpoases not installing headers and libs"
Hi everyone,

it seems your (catkin) CMakeLists of eus_qpoases does not install any source files or build artifacts. Is the intended behavior?

My use-case: I want to depend on the C++ headers and libs of qpoases through depending on your ROS package. However, I cannot find any of the h-files in the debians. My system: Ubuntu 14.04, ROS Indigo, all updated on June, 18th, 2015.

Best,
Georg.

P.S.:

[2015-06-19 10:29] s-noda commented on #349
Hi @airballking, thanks to use our package.

You intend to use qpOASES's header and library files such as qpOASES.hpp and libqpOASES.so?

These files are created in
${CMAKE_CURRENT_BINARY_DIR}/build/qpOASES/libs
and
${CMAKE_CURRENT_BINARY_DIR}/build/qpOASES-source/include.

So,  your object might be achieved through adding the following lines at the bottom of catkin.cmake file.
[code]

Could you c

[2015-06-19 13:21] airballking commented on #349
Hi @s-noda,

thanks for the very fast answer and proposition! I tried it out, and it works fine on my local pc. Both the header-files and libs show up in the install-space of my catkin-workspace.

I created a pull request which references this issue.

Best,
Georg.

P.S.: Again, thanks for wrapping this lib for ROS. This saved me some time, today. :)

[2015-06-20 01:08] k-okada commented on #349
closed via #350

[2015-06-20 01:08] #349 closed

[2015-08-10 11:15] aginika opened #424 "[jsk_footstep_planner] Empty Frame error has occured in heightmap.launch with PR2"
I'm using PR2 hydro and jsk_footstep_planner's heightmap.launch.
Simply I got below error.
[code]

I wrote below launch file.

[code]

/pass_through_z/output is publishing well and we can confirm it on rviz.
And theirs echo is as below.
[code]

What is the problem of the tf2 empty frame error?
And below is error.
[code]

[2015-08-10 11:46] garaemon commented on #424
Are map and base_footprint available?

[2015-08-10 11:47] garaemon commented on #424
Run with gdb to know which thread is dead by tf2 exception

[2015-08-10 13:37] aginika commented on #424
@garaemon When I executed on my local, it works well (For try to do gdb). Thank you. Might be my mistake .

[2015-08-10 13:37] #424 closed

[2015-09-02 03:31] #17 closed

[2015-09-14 13:32] YuOhara opened #457 "jsk_footstep_planner　footstep-planner-node.lがセグフォで落ちます"
gdbの出力です。
[code]

[2015-09-14 13:33] garaemon commented on #457
実装が適当で、認識結果が空だったりするとsegvで死ぬ気もする

[2015-09-14 13:38] YuOhara commented on #457
なるほど、
/ocs/env_server/outputの前に、何か先にINPUTしてないといけない感じでしょうか。シミュレータなので、
足りないトピックがあるかもしれないです。

[2015-09-14 13:39] garaemon commented on #457
env_serverには確か平面認識結果とかが入っているはずで、env_server/outputはrvizのSimpleOccupancyGridで可視化できるはずです。

[2015-09-14 13:49] YuOhara commented on #457
rviz は　こんな感じでした
![screenshot from 2015-09-14 22 45 44](https://cloud.githubusercontent.com/assets/7259700/9851228/8a655e38-5b32-11e5-9a24-3d5f99c3473e.png)

実機とのdiffは

* laser点群が出ないのでとりあえずdepthカメラの点群を使った
* multisenseのimuがないので/imuをそのまま使った

などがあります。

[2015-09-14 13:50] garaemon commented on #457
認識結果のframe_idがodom_on_groundだったかgroundになってないといけない、とかあったかも

[2015-09-14 13:51] garaemon commented on #457
segvの原因はcallbackの中で何かしらのエラーが起きているからだと思うので、print仕込んでいくのが筋道がいいかもしれません

[2015-09-14 13:54] garaemon commented on #457
これは問題ないはず、NormalDirectionFilterの中でtfを解決していたかは要確認

基本的には問題ないはず, FoVだけが問題

[2015-09-14 13:55] YuOhara commented on #457
大本の/laser_downsampler/outputをmultisense/left/image_rect_colorに変えてしまっているので、
それはあるかもしれないです。

[2015-09-14 13:56] YuOhara commented on #457
odom相対にしてみて無理だったら、printして出力を見てみます

[2015-09-14 13:56] garaemon commented on #457
うまく動いていれば、eusのpickviewが出るんだけど、立ち上がったら即死んでるパターンにも見える。

[2015-09-14 14:50] YoheiKakiuchi commented on #457
レーザー出ないんだっけ？
最新だと出るようになったと思うので、確認してみて下さい。

[2015-09-14 15:29] YuOhara commented on #457
#27 まで手元で最新にしてなかったです。
明日確認します

2015年9月14日月曜日、Yohei Kakiuchi<notifications@github.com>さんは書きました:

--
JSK in the University of Tokyo
Yu Ohara
ohara@jsk.imi.i.u-tokyo.ac.jp
+81-3-5841-7416

[2015-09-14 15:33] YuOhara commented on #457
https://github.com/start-jsk/rtmros_choreonoid/pull/57
でした

[2015-09-15 08:28] YuOhara commented on #457
点群をlaserに変えたら動きました。

シミュレータをあげると、プログラム全体が重すぎて動かないのでこれからPC二台にして不整地試してみます。

2015年9月15日 0:29 Yu Ohara <ohara@jsk.imi.i.u-tokyo.ac.jp>:

--
JSK in the University of Tokyo
Yu Ohara
ohara@jsk.imi.i.u-tokyo.ac.jp
+81-3-5841-7416

[2015-09-15 08:30] garaemon commented on #457
どうしても重い場合は、新しいプランナに乗り換えると負荷がかなり減っていると思いますが、判断が難しいところ.

[2015-09-15 09:04] YuOhara commented on #457
一応htopの出力の一ページ目をあげるとこんな感じでした
![htop](https://cloud.githubusercontent.com/assets/7259700/9872404/27c18494-5bd4-11e5-9d1c-103c1e3d44d6.png)

[2015-09-15 09:12] garaemon commented on #457
うーん、まぁこんなものだろうなぁ。`/joint_states`ってどれくらいの周期(実際の時間で)でているのかな?

[2015-09-15 09:27] YuOhara commented on #457
rostopic hzだと400hzくらいでした
[code]

2015-09-15 18:12 GMT+09:00 Ryohei Ueda <notifications@github.com>:

--
JSK in the University of Tokyo
Yu Ohara
ohara@jsk.imi.i.u-tokyo.ac.jp
+81-3-5841-7416

[2015-09-15 09:29] garaemon commented on #457
Publisherが一人かを調べて欲しいけど、一人だけならちょっと速すぎる気もする。
SeqStateRosBridgeが早く回りすぎ??
100Hzあれば十分だと思っています

[2015-09-15 09:31] garaemon commented on #457
あとrostopic hzは/use_sim_timeがtrueだとそれに引っ張られるけどchoreonoidはどうなっているんだろうか

[2015-09-15 09:34] YoheiKakiuchi commented on #457
SeqStateRosBridgeの周期は100Hzにしているつもり。
これは、現実時間の100Hzで回るんじゃないかと思っている。

use_sim_timeはtrueで、SeqStateROSBridgeがclockを出している（hrpsys-simulatorと同じ)になっている。

[2015-09-15 09:35] garaemon commented on #457
ちなみにrospyの時刻は

https://github.com/ros/ros_comm/blob/indigo-devel/clients/rospy/src/rospy/rostime.py#L210
がコアで、`_rostime_current`があった場合はこれが変える。

`_rostime_current`は初期値Noneで`/clock`のコールバックで代入される
https://github.com/ros/ros_comm/blob/indigo-devel/clients/rospy/src/rospy/rostime.py#L188

[2015-09-15 09:36] garaemon commented on #457
eusが100%になってるのもちょっと気になりますね

[2015-09-15 10:33] YuOhara commented on #457
joint_statesのpublisherはひとりでした
[code]

[2015-09-15 12:24] garaemon commented on #457
400Hzはなんかおかしい気がするけど、realtime factor的なものが0.25なら期待通りなのかな?

[2015-09-15 14:41] YoheiKakiuchi commented on #457
手元の環境では、以下の表示が出ているのと、
[ INFO] [1442327457.602515159, 20.160000000]: [HrpsysSeqStateROSBridge0] @onExecutece 0 is working at 100[Hz] (exec 100 Hz, dropped 90)

rostopic hz /joint_statesは 113 くらいなので、リアルタイムファクタの問題だと思います。

[2015-09-16 09:46] YuOhara commented on #457
まとめて報告しますが（このブランチで報告していいのか微妙ですが）、
まず、PCを二台にわけても、だんだんと重くなってしまいました。

![screenshot from 2015-09-16 17 11 53](https://cloud.githubusercontent.com/assets/7259700/9901469/e86ecc3c-5ca2-11e5-9607-8229e46dda23.png)

https://github.com/start-jsk/rtmros_choreonoid/pull/59 がシミュレータの側で上がってるので、これが重いかもしれないです。

[2015-09-16 09:48] YuOhara commented on #457
ただ、laser系のノードをあげなくてもだんだん重くなっていったので、
choreonoidがだんだん重くなっていっているようにも思えます。

[2015-09-16 09:59] garaemon commented on #457
choreonoidって枚ステップのシミュレーション結果を保存してたりしない? 時間が巻き戻せる的な。
昔openhrpのシミュレータはその機能のせいでだんだんシミュレーションが重くなるという現象があった気がする

[2015-09-16 10:00] YoheiKakiuchi commented on #457
だんだん重くなるがどれぐらいか分かるかな？
x分たつと、どれぐらい遅くなる的な。

[2015-09-16 10:01] YuOhara commented on #457
一時間たつとrealtimefactorが0.16くらいになっている気がします。

2015-09-16 19:00 GMT+09:00 Yohei Kakiuchi <notifications@github.com>:

--
JSK in the University of Tokyo
Yu Ohara
ohara@jsk.imi.i.u-tokyo.ac.jp
+81-3-5841-7416

[2015-09-16 12:01] YuOhara commented on #457
よく考えたら、
@terasawa @YutaKojio
が一時間を超えてもスラスラと動かせているので、パソコンの性能かもしれません。

[2015-09-17 06:53] YuOhara commented on #457
今試してみていて、斜めなところに立った瞬間に、重くなっている気がしました。

[2015-09-18 07:00] YuOhara opened #468 "footstep_planningの、足裏の抜ける部分"
![screenshot from 2015-09-18 15 53 24](https://cloud.githubusercontent.com/assets/7259700/9953724/3f34b83e-5e1e-11e5-92b2-af1a2292ef3f.png)

pcl_rosの内容かもしれませんが、ロボットの足裏のあたりの平面が延長されて、
その下の本当の平面に足裏があわせられないのですが、どうすればよいでしょうか？

[2015-09-18 07:02] garaemon commented on #468
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_planner/launch/JAXON_RED_footprint.launch

これを良い感じにしてください

[2015-09-18 14:02] YutaKojio commented on #468
空中に平面が出てしまう問題は上にあるパラメータをいじることで治りました。
しかし、```odom_cloud```から```laser_self_filter_points```の変換で、
実際に足がつけそうな場所まで抜けてしまいます。
![screenshot from 2015-09-18 22 12 49](https://cloud.githubusercontent.com/assets/11713954/9960963/d91ec84c-5e58-11e5-9277-b6d069f392ee.png)

[2015-09-18 14:05] garaemon commented on #468
どういうことだろう?

[2015-09-18 14:29] YutaKojio commented on #468
１つ前の画像は，白色点群が```odom_cloud```で，```laser_self_filter_points```の出力がピンク色点群なのですが，
laser_self_filter処理後にロボット自身以外の平面まで消えてしまっているため，画像において一歩前に降りるplanningがでなくなってしまいます．
まだコードの中身を読んでいないのですが，
laser_self_filterの処理がlook groundの姿勢ではなくreset-poseの姿勢に対して行われているためではないかと思ったのですが，そういう理解であっていますでしょうか？

[2015-09-18 14:39] garaemon commented on #468
laser_self_filterと呼んでるのはpr2_navigation_self_filter? それともrobot-bbox.l?

どちらにせよ、姿勢はきちんと考慮されています。
robot-bbox.lの方は、最近pr2_navigation_self_filterでcolladaサポートしたので、こっちに置き換えられる。
もしbboxの方を使ってたらこちらは直方体近似しているのでもしかしたら何か悪さをしているかも。

シミュレーションなので、ちょっとずるいけどパディングパラメータは0にしちゃってよい。

2015年9月18日金曜日、Yuta Kojio<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-09-18 14:46] YuOhara commented on #468
使ってるのは、attention clipperの方です。

点群処理が遅いので、そのノードに届く際に姿勢が変わってしまっている可能性を先ほどは考えてみました。
急いでいたので省略してしまいましたが、実際にはコードの中を読んで、Syncしているか、あるいは別にsubscribeしてるかで挙動が変わる気がするので、そこはちゃんと見たほうが良さそうです。

[2015-09-18 14:50] garaemon commented on #468
どの点群使ってるか忘れてるんだけど、pr2_navigation_self_filterがかかってる点群を使えれば、attention
clipper周りは消せますね。
こっちの方が信頼できるかも。

処理が重いのならうまくpassthroughのパラメータを調整してみるのかな。

2015年9月18日金曜日、Yu Ohara<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-09-24 06:24] YutaKojio opened #469 ":set-auto-balancer-paramを呼ぶと両足をそろえてしまう"
両足のx方向位置が揃っていない状態で
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/euslisp/footstep-controller-old.l#L761-L762
を実行すると両足を無理やり揃えようとしてしまいます．

現状，
https://drive.google.com/a/jsk.imi.i.u-tokyo.ac.jp/file/d/0B9Cu2eewhmiwZkNmUHB2blRWZm8/view?usp=sharing
のように，段差を登る前に両足を揃えてしまい，場合によってはそのせいで転けてしまいます．

https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controlle

[2015-09-24 06:57] snozawa commented on #469
もう少し小さいバグ再現コードを作ることは可能かな？
具体的には、

hrpsys-simualtor上で:set-foot-stepsをして足を開いてから:set-auto-balancer-paramをする

くらいの量。

[2015-09-24 07:10] eisoku9618 commented on #469
[code]

と

[code]
で再現しました．

犯人は僕で，
leg_namesの補間をauto-balancerが入っている状態で出来るようにしたつもりの

https://github.com/eisoku9618/hrpsys-base/commit/cf889ecef1cd1d3410820dbc21941cab647daef8

のコミットが悪さをしていて，
ひとまず以下のdiffで治るかと思います．

[code]

[2015-09-24 07:16] YutaKojio commented on #469
choreonoid上で:set-foot-stepsをして足を開いてから:set-auto-balancer-paramをする
は，確認済みでそれでも再現していました．

のdiffを入れて試してみます．

[2015-09-24 07:37] snozawa commented on #469
@eisoku9618 くんがとても良い例を示してくれていますが，

の部分は，
https://github.com/jsk-ros-pkg/jsk_control/issues/469#issuecomment-142836128
のように，短く再現できる方法・プログラムをかけるととても良いと思います．
自分でデバッグしようとしたときにも重要です．

[2015-09-24 07:57] YutaKojio commented on #469
はい，issueを見る方もそちらのほうが見やすいと思うので，
issueを送るときにも短く再現できるプログラムをつけて報告するように心がけます．

上のdiffを入れると足を揃えることはなくなりました．
ありがとうございました．

[2015-09-24 07:57] #469 closed

[2015-09-25 12:34] YuOhara opened #470 "heightmapのノードが死んでる"
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_planner/launch/heightmap_perception/heightmap.launch#L67
でtopicの/map_origin_polygon/output_coefficientsにnanの値が入って、
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/polygon_points_sampler_nodelet.cpp
が死んでnodelet全体が死んでしまっているのですが、
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_planner/la

[2015-09-25 12:37] garaemon commented on #470
コメントアウトが正解なきがする

[2015-09-25 12:39] YuOhara commented on #470
問題がなければ戻しちゃいます.
変更したらheightmapが出たのは確認済みです。

[2015-09-25 12:40] garaemon commented on #470
問題無いです

[2015-09-25 13:35] #470 closed

[2015-09-28 06:00] YuOhara commented on #468
will be solved via https://github.com/jsk-ros-pkg/jsk_demos/pull/1065

[2015-09-28 06:00] #468 closed

[2015-10-16 07:29] YuOhara commented on #457
不整地上でシミュレータが重いのは，modelを簡略化することで解決しました．

そもそもの，footstep_plannerが死ぬ問題に関しては，
* plannerのinputが空に近い時に起こる様子

@YutaKojio　がいろいろ試してくれたのですが，解決策としては，jvrc的には
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/cfg/EnvironmentPlaneModeling.cfg#L22
を0にして，inputが空にならないようにする．でした．

[2015-10-26 06:02] mmurooka opened #501 "立ち位置探索IKで複数limbを使えるようにする"
@YuOhara さん，

https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_planner/euslisp/footplace_planner_for_manipulation.l#L50
の`fullbody-inverse-kinematics-with-standcoords` で，
fullbody-inverse-kinematicsと同じ引数をサポートするできますでしょうか．

特に複数のmove-targetに対応したいですが，
`&rest, &allow-other-keys`などで他の引数もそのまま使えたら便利です．

[2015-10-26 13:13] #501 closed

[2015-10-27 09:57] mmurooka opened #503 "[jsk_footstep_planner] fullbody-inverse-kinematics-with-standcoords でIKが解けたか返す"
@YuOhara

fullbody-inverse-kinematics-with-standcoords は，
IKが解けていなくても（手先が目標軌道に届いていなくても），
関節角を返しますが，
threやrthreに応じて，届いていなかったらそれが分かるようになりますでしょうか．

[2015-10-28 17:06] mmurooka commented on #503
https://github.com/jsk-ros-pkg/jsk_control/pull/506 で対応してもらいました．

[2015-10-28 17:06] #503 closed

[2015-11-21 08:31] garaemon opened #518 "footstep_visualizer.pyのzmpの座標が間違っている気がする"
jaxonだけまちがっているかも

[2015-11-21 10:02] garaemon commented on #518
@YutaKojio
CPが支持多角形の外に出てるのって正しい?

![screenshot from 2015-11-21 19 02 01](https://cloud.githubusercontent.com/assets/40454/11317923/66713cd8-9082-11e5-96af-c2a0c3b31418.png)

[2015-11-21 10:07] garaemon commented on #518
rvizでも同様の位置に見えます

[2015-11-21 12:25] YutaKojio commented on #518
重心速度が０の時はCPの値は重心位置と等しくなります。
なので、もしロボットが静止している状態で出ているのであれば座標変換がおかしい気がします。

[2015-11-22 05:33] #518 closed

[2015-11-22 05:34] garaemon commented on #518
@YutaKojio 膝を曲げているような状態で静止していて、ただ手が少し物に当たっているような姿勢でした。
hrpsysが出しているCPがおかしいのかもしれませｎ

[2015-11-24 08:49] garaemon commented on #518
@YutaKojio
なんかおかしい?
4足歩行時

![screenshot_from_2015-11-24 17 47 12](https://cloud.githubusercontent.com/assets/40454/11361889/a3afb9be-92d3-11e5-9eab-1500a5d43bba.png)

[2015-11-24 09:00] YutaKojio commented on #518
については，set-ref-forceをしている状態でそもそも重心が支持多角形を出ていたらしいのでそれでおかしくはなさそうでした．

については，ちゃんと４足のときにも使えるようになっているか確認します．

[2015-11-25 05:39] eisoku9618 commented on #518
RootLinkが地面と水平でない場合に表示の方だけうまく行かないようなプログラムになっていたようでした．

CPが可視化されていると，ZMPとCPが可視化されていると，静止時に実際の重心とモデルの重心の差分が見えてとても便利なので，PR出してもらえると助かります > @YutaKojio

[2015-11-25 06:39] YutaKojio commented on #518
遅くなりました．
https://github.com/fkanehiro/hrpsys-base/pull/888 で修正しました．

[2015-12-09 07:12] #457 closed

[2015-12-09 07:12] garaemon commented on #289
solved?

[2015-12-10 07:05] garaemon opened #529 "Visualize emergency stop margin in footstep_visualizer"
@YutaKojio

[code]

[2015-12-23 09:14] garaemon opened #536 "fullbody-inverse-kinematics-with-standcoordsで初めの方の目標姿勢を満たすのが難しい"
fullbody-inverse-kinematics-with-standcoordsで立ち位置を順に動かしている影響で，
初めの方の目標は逆運動学解がみつかりにくい．

最後の一回は立ち位置を動かさずに逆運動学を:stopを増やして解いてみるのが良い気がする.

[2016-01-19 11:12] k-kimura opened #546 "[jsk_footstep_planner] pcl/PointCloudConcatenateDataSynchronizer seems to cause tf2::InvalidArgumentException"
### Issue
`roslaunch jsk_footstep_planner heightmap.launch` causes `tf2::InvalidArgumentException`.
I checked nodelets in heightmap_nodelet as follows and I reproduced this error when robot_center_pointcloud_with_map_origin_points is commented in.
1. comment out all nodelets in the heightmap_nodelets
2. comment in nodelets one-by-one from robot_center_pointcloud, which input is /distance_filtered_

[2016-01-19 11:29] k-kimura commented on #546
How did you solve this problem? > @aginika

[2016-01-20 12:54] k-okada commented on #546
if you solve this issue offline, please describe how did you solve this.

--
◉ Kei Okada

On Tue, Jan 19, 2016 at 8:29 PM, Kohei Kimura <notifications@github.com>
wrote:

[2016-01-21 08:47] aginika commented on #546
@k-kimura I didn't get any error when I try to do it in gdb. So I don't know the solution sorry.

[2016-01-21 12:06] k-kimura commented on #546
@aginika thanks.

I found this error issue while checking https://github.com/start-jsk/rtmros_hrp2/blob/master/jsk_hrp2_ros_bridge/launch/hrp2_multisense_local.launch#L135-#L138 with @orikuma san.
But we have not solved this problem yet...

[2016-03-22 18:27] dirk-thomas opened #572 ".cfg files need to be fixed and released"
The .cfg files in this repo need fixing (similar as jsk-ros-pkg/jsk_common#1359): e.g. https://github.com/jsk-ros-pkg/jsk_control/blob/be2468326eba643b858f73e4b50aab5c369f90de/jsk_footstep_planner/cfg/FootstepPlanner.cfg#L6-L12

The fixes also need to be released. Currently the Indigo jobs fail since the old code falls back to the non-catkin code generation which won't generate the header in the c

[2016-03-23 01:26] k-okada commented on #572
Sorry for this, fixed in -> https://github.com/jsk-ros-pkg/jsk_control/pull/573

[2016-03-23 02:20] k-okada commented on #572
merged in https://github.com/ros/rosdistro/pull/10837,
I think I have done what I can do right now, rest of failing package depends on naoqi_driver,  https://github.com/ros-naoqi/libqi-release/issues/3

[2016-03-23 02:20] #572 closed

[2016-04-08 07:39] snozawa commented on #289
I'll close this PR.
If you have same error, please reopen this.

[2016-04-08 07:39] #289 closed

[2016-09-06 10:31] YoheiKakiuchi commented on #546
Ping @k-kimura

[2016-09-06 10:42] YoheiKakiuchi opened #624 "HRP2/JAXON その他のjsk_footstep_controller/footcoords.cppの出すodomの名前を変更する"
humanoidsからodomとして出ているものの実態がAutobalancerの出しているodomであるので、
Autobalancerの出しているodomをabc_odom (名前は議論があっていいと思う）として、
odom = abc_odom とするのがいいのではないか。

理由としては、Autobalancer以外のodomが出てきたときの対応と、
footstep-controller等でodomをAutobalancerの原点として使っているためわかりにくいという点が挙げられます。

[2016-09-06 12:57] k-kimura commented on #546
When I checked jsk_footstep_planner's heightmap.launch on mensa (hrp2 remote desktop PC) just now, it seems no error about ```tf2::InvalidArgumentException```.

### Environment
- Launch https://github.com/start-jsk/rtmros_hrp2/blob/master/jsk_hrp2_ros_bridge/launch/hrp2_multisense_local.launch on mensa (hrp2 remote desktop PC)
- Add ```if="false"``` option at https://github.com/jsk-ros-pkg/jsk_rob

[2016-11-09 09:00] yoshimalucky commented on #624
これはトピック名の話でしょうか？tfのframe_idの話でしょうか？

関連したことで質問ですが、odomのトピックとtfはそれぞれ同等のものとして対応しているのでしょうか。

odom_initからodomを経由して/BODYまでのtfはfootcoordsから出ている一方で、
odomのトピック(odomからBODY)はHrpsysSeqStateBridgeから直接出ているので。

それと、ドキュメントを読みましたが、
odom
odom_on_ground
odom_init
の違いがよくわかっていません。

odom_on_ground は HRP2の画像を見れば説明と一致していますが、
JAXONのgazeboのシミュレーションのでは、
odomもodom_on_groundと同じく床に張り付いています。

odom_initはロボットを歩かせても特に更新されず、
odomに

[2016-11-21 10:03] snozawa opened #649 "footstep plannerの最後の２歩（finalize）で足が干渉する"
footstep plannerの最後の２歩（finalize）で足が干渉します．
詳細は後で報告します．

[2016-11-21 10:04] snozawa opened #650 "footstep plannerの出力する足配置結果が，successorで与えたものと異なる"
footstep plannerの出力する足配置結果が，successorで与えたものと異なります．
詳細は後で報告します．

[2016-11-21 15:07] snozawa commented on #650
@YoheiKakiuchi さん

再現コードは以下です

1.
[code]

2.
[code]

再現コードは、実際に得られたfootstepリストから計算される一歩ごとの差分と、successorとを、比較します。
（これらは一致するはず）

これで、現状は
[code]
とでて、全部がtにはならないです。
現状でもHRP2JSKNT_footstep_planner_params.yamlを
[code]
のように更新すると、
[code]
となって結果がsuccessorと整合とれます。

https://github.com/jsk-ros-pkg/jsk_control/pull/648
を摘要して、上記のコメントアウトなしで動けば大丈夫です。

[2016-11-21 15:38] snozawa commented on #649
再現コードです。
config/HRP2JSKNTS_footstep_planner_params.yamlを以下でおきかえます。
[code]

次に、
1.
[code]

2.
[code]
をtest-fs-plan.lとして保存して、

[code]
を実行すると、
[code]
となって、最後のfinalizeのが-113[mm]とかになり、これはメリこみます。

[2016-11-22 06:29] YoheiKakiuchi commented on #624
footcoordsの出しているトピックで必須のものはどれだろうか？

メモ

[code]

[2016-11-22 06:30] snozawa commented on #650
Solved via https://github.com/jsk-ros-pkg/jsk_control/pull/648

[2016-11-22 06:30] #650 closed

[2016-11-24 00:55] snozawa commented on #649
上記テストケースで治ってるのを確認しました。
https://github.com/jsk-ros-pkg/jsk_control/pull/653

[2016-11-24 00:55] #649 closed

[2017-04-18 14:44] ban-masa opened #681 "[jsk_footstep_controller]footcoords.cppのpublish_odom_tfの仕様について"
footcoords.cpp内にはpublish_odom_tfというparamがあるのですが、これをfalseにしても、odom->root_linkへの変位0のtfが出続けるようです。
publish_odom_tfをfalseにした時に単純にodom->root_link間のtfを出さないようにするほうが、footcoords以外のodometryを使用してtfを出したいときに干渉しないので便利だと思うのですが、この仕様には何か理由があるのでしょうか？

[2017-04-18 15:14] YoheiKakiuchi commented on #681
https://github.com/jsk-ros-pkg/jsk_control/issues/624
積み残し案件だと思います。

[2017-04-18 15:38] YoheiKakiuchi commented on #681
https://github.com/jsk-ros-pkg/jsk_control/commit/5f2da6f0b7f303c4a631cfeaa22e2e7bd74d9d09
とりあえず、最新なら出なくはなってるように思います。

いずれにせよ、 #624 のとおり、整理したいところです。

[2017-04-18 15:42] ban-masa commented on #681
あ、本当ですね。
自分のPCと17号機のAuditorPCで確認したときに最新かどうか調べるのを忘れていました。
申し訳ありません。
このissue自体はcloseした方がいいですか？

[2017-04-18 16:24] YoheiKakiuchi commented on #681
せっかくなので、tfのodomを止めて、どういう風に使うつもりか書いてみて下さい。

そもそも、footcoordsのノード自体を上げないという選択肢は無いのか？ はどうだろうか？

[2017-04-19 04:28] ban-masa commented on #681
robot_pose_ekfに/odomのtopicとvisual_odometryを入れて、研究会で話に出たようなodomの統合を試してみたいので、footcoordsがodom->rootlinkのtfをbroadcastしないようにする必要がありました。

footcoordsを上げないという方法でもいいのですが、BODY->groundなどのtfも消えるので、もし他のノードに影響がでたら面倒なのと、rosparamで切り替えられる方が便利だと思ったので、publish_odom_tfを使おうとしました。

publish_odom_tfはodomのbroadcastをon/offするほうが自然だと思ったので、あえてbroadcastし続ける仕様になっているのには特別な理由があるのではないかと考えたのですが。

[2017-04-19 04:56] YoheiKakiuchi commented on #681
もうちょっと具体的に、robot_pose_ekfのインプットとアウトプットの接続を教えてください。
あと、テストと運用は分けて考えてもいいかもしれません。 #624は運用上の話。

robot_pose_ekfについては、covarianceがそれなりの正しさで入っていることが期待されていそうなので、
入力topicのcovarianceをチェックしておくことをおすすめします。
/odom (のトピック)は何もしなくても、covariance入っているのかな？ @orikuma システムではどこかで入れているはずだ。
/imu のcovarianceはここだ。
https://github.com/start-jsk/rtmros_common/blame/master/hrpsys_ros_bridge/src/HrpsysSeqStateROSBridge.cpp#L1016-L10

[2017-04-19 05:25] ban-masa commented on #681
robot_pose_ekfがsubscribeする/odom、/voのそれぞれにhrpsys_ros_bridgeの出す/odomのtopicとrtabmapの出すvisual_odometryのtopicを用いて、それらを統合したodomをtfへbroadcastさせようと考えています。

robot_pose_ekfは同時に/odom_combinedというtopicを出すようですが、nav_msgs/Odometry型ではないので、既存のノードがこのtopicを用いることはないと思います。

covarianceについては全く注意を払っていませんでした。
/odomにはdefaultでcovarianceがあったように思いますが、本当に機能しているかなんとかチェックしてみたいと思います。

HRP2の場合は/imuのorientationの値がYaw軸回りについては信用できないので

[2017-04-19 08:56] orikuma commented on #681
HrpsysSeqStateROSBridge内で入っている/imuのcovarianceは昔から使われていた特に根拠のない値だった記憶があります.
odom.pose.covarianceは何もしない状態でodom.twist.covariance(デフォルト値は根拠のない定数)から計算された値が出てきます.
rtabmapのvisual_odometryのcovarianceについてはわからないですが, もともと使っていたviso2ではcovarianceは根拠のない定数でした.

なおlocalizationで使っているcovarianceの値は実測から求めて https://github.com/jsk-ros-pkg/jsk_robot/blob/master/jsk_robot_common/jsk_robot_startup/src/jsk_robot_startup/Odo

[2017-04-19 11:23] ban-masa commented on #681
ありがとうございます。
/odomのcovarianceはそろほど根拠のあるものではないということですが、
とりあえずそのまま実際にrobot_pose_ekfに与えてみて、どんな感じになるか検証してみようと思います。

[2017-06-28 16:45] mmurooka opened #684 "solve-qpoases-qpのint-status"
@snozawaさん
qpoasesがときどきinternal errorになって解けないときに，
変数を変換する(適当な正則行列Aによってy=Axでxからyに変換する)と解けることがあるというのをオフラインでお話させていただきましたが，

これを効率よくやるために，qpが解けなかった時にそれがinternal errorなのかinfeasibleなのかを区別したくて，
https://github.com/jsk-ros-pkg/jsk_control/blob/master/eus_qpoases/euslisp/eus-qpoases.l#L191
の`int-status`を`solve-qpoases-qp`関数の外から見れるようにしたいです．
返り値を変えるとこれまでのプログラムが動かなくなってしまうのが問題ですが，何か良い案はありますでしょうか．
あまり綺麗ではないですがグロ

[2017-06-29 03:07] snozawa commented on #684
これはirteusのIKでも同様のことを思ったことがあり、決め手がなかったです。
（ikのloop回数などを外から知りたい、など）

上記のときにでてた同様の解決法で、思い出すと以下があった気がします。

1. （クラスにして）クラスのslotsかなにかにdebug関係のものを追加し、そこに値を保存しておく
2. グローバル変数にする
3. 引数でdebug関係のものを与えるようにし、関数のなかでそれを破壊的にかきかえる。ログをとりたいユーザは明示的にそれを引数で与えて、中身をみる

[code]

おそらく、１が罪悪感が少ない素直な感じになると思います。
3も当時の誰かの案で、実装は簡単で、かつおもしろいなと思った気がします。

３の亜種で、実際にこの関数限定で適用できる方法は、実はやってる例はあります。
https://github.com/jsk-ros-pkg/euslib/blo

[2017-06-29 05:45] mmurooka commented on #684
見逃していて上のコメントを見て気づいたのですが，
そもそも引数の`:status`でqpがどのように成功/失敗したかは取ってくることができたんですね（＝3の方法がすでにやられていたんですね）．
なのでやりたかったことはできそうでした．

[2017-06-29 05:45] #684 closed

[2017-07-03 12:54] YutoUchimi opened #685 "baxterの腕に取り付けたカメラでキャリブしたい"
@YoheiKakiuchi
baxterの左右の腕にAstra Mini Sおよびチェッカーボードを取り付けているのですが、このパッケージの方法でキャリブレーションは可能でしょうか？内部パラメータはキャリブ済みです。

[2017-07-03 13:30] YoheiKakiuchi commented on #685
とりあえず，構成が分かるような写真(or 図)を張ってみてください．

左腕：カメラ１，ボード１
右腕：カメラ１，ボード１
ということでいいでしょうか？
それと，頭にカメラは付いている？

直接方法：
(1) 左右の腕のカメラとボードをcalibできるようにconfigを書く
この場合，左右同時にするか，右手カメラ，左手ボードと左手カメラ，右手ボードのを独立でやるか考える必要がある．

間接方法：
(a) 頭部もしくは，固定カメラがついているなら，そのカメラ位置を手についたボードでhrp2やjaxonと同じようにキャリブする
(b) 固定カメラと腕のカメラで外部に置いた同じチェッカーボードを見て，腕のカメラの搭載位置(腕リンクからのcoordinatesを求める)をキャリブ

第3の方法：
ボードの位置は既知かな？ 精度はどれぐらいだと思っていいだろうか？
精度がそこそこあるなら，手のボー

[2017-10-24 12:55] mttamtam opened #689 "jsk_footstep_plannerでマーカーを動かすと死ぬ"
@YoheiKakiuchi

rtmlaunch hrpsys_choreonoid_tutorials jaxon_red_choreonoid.launch LOAD_OBJECTS:=true ENVIRONMENT_YAML:=$(rospack find hrpsys_choreonoid_tutorials)/config/terrain.yaml
roslaunch hrpsys_choreonoid_tutorials jaxon_multisense_local.launch
を上げた状態で、
下記のようにフットステッププランナを立ち上げ、ゴール位置のマーカーを動かそうとするとその瞬間にrvizが死にます。

tamura@aconcagua:~/ros/indigo/src/jsk-ros-pkg/jsk_control/jsk_footstep_planner (m

[2017-10-24 13:12] k-okada commented on #689
使っているjsk_rviz_plugins のバージョンはなんですか？
https://github.com/jsk-ros-pkg/jsk_visualization/pull/676
かな，とおもいました．

[2017-10-26 11:01] mttamtam commented on #689
遅くなりすいません。
岡田先生のご指摘のとおりで、
[code]
だったのでjsk_rviz_pluginsが１年前ぐらいだったのを最新版にしたら問題なく動きました。
ありがとうございました。

[2017-10-26 11:01] #689 closed

[2017-10-26 11:20] k-okada commented on #689
良かったです．
手元にソースツリー持つとこういうことがおこって，じゃあ常にwstool
updateしたらいいかというと，regressionも心配だし，ということで，自分でいじることがなければdebを使っておくのがいいですね．
ということで，リリースしました．週明けには使えると思います．
https://github.com/ros/rosdistro/pull/16173

--
◉ Kei Okada

2017-10-26 20:01 GMT+09:00 Juntaro Tamura <notifications@github.com>:

[2018-01-14 02:01] furushchev opened #691 "Release 0.1.14"
@k-okada Please release when you have time.

[2018-01-15 04:53] k-okada commented on #691
done //github.com/ros/rosdistro/pull/16774, //github.com/ros/rosdistro/pull/16775

[2018-01-16 05:05] furushchev commented on #691
@k-okada Thank you very much!

[2018-01-16 05:05] #691 closed

[2018-07-19 06:21] kochigami opened #695 "Installing jsk_control as a deb package fails if I use ros-shadow-fixed"
It is just a report about installing jsk_control /jsk_teleop_joy as a deb package.
If I use ros-shadow-fixed, it failed; however, if I use ros, it succeeded. (http://wiki.ros.org/ShadowRepository)
I'm using ubuntu 14.04, ros indigo.
(I'm sorry if I misunderstand something.)

[ros-shadow-fixed]
- I added `exec_depend` to jsk_control to package.xml (format 2) of one package.
I referred to `rosdistro

[2018-07-19 07:06] k-okada commented on #695
I'm very sorry that it was my fault on deb release with EusLisp-9.24, and jsk_control could not build because  it depends on euslisp (https://github.com/euslisp/EusLisp/issues/304)

please watch http://build.ros.org/job/Ibin_uT64__jsk_control__ubuntu_trusty_amd64__binary/ and check if all upstream packages becomes green. It will take ~1 day. Sorry for trouble.

[2018-08-22 00:44] tfoote opened #696 "eus_nlopt failing to build on Kinetic armhf and arm64"
This appears to be a regression recently in being able to find nlopt via CMAKE.

http://build.ros.org/view/Kbin_uxhf_uXhf/job/Kbin_uxhf_uXhf__eus_nlopt__ubuntu_xenial_armhf__binary/446/
http://build.ros.org/view/Kbin_uxv8_uXv8/job/Kbin_uxv8_uXv8__eus_nlopt__ubuntu_xenial_arm64__binary/437/

[code]

[2018-08-29 12:17] #696 closed

[2019-04-16 10:42] weiqiyang opened #719 "How do I add new plug-ins for jsk_teleop_joy?"
I am trying to add some new plug-ins to `jsk_teleop_joy`.
As a test, I copied `jsk_teleop_joy/src/jsk_teleop_joy/plugin/joy_pose_6d.py`, and renamed it as `jyo_pose_6d.py`. I also changed the class name in the file from `JoyPose6D` to `JyoPose6D`.

But when I ran the launch file, it gave an error message as bellow, and `MyPose6D` was not showed in the overlay menu.

The launch file was as the foll

[2019-04-17 08:45] k-okada commented on #719
i think you need to update
https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_teleop_joy/plugin.xml
--
◉ Kei Okada

2019年4月16日(火) 19:42 Weiqi Yang <notifications@github.com>:

[2019-04-18 07:41] weiqiyang commented on #719
It works! Thank you!

[2019-04-18 07:41] #719 closed

[2019-11-07 02:42] sktometometo opened #732 "duplicated example.launch"
I am trying to execute samples of this package.

And when I tried to launch example.launch, I had got an error.

[code]

There seems to be two example.launch files in this package and thier name and contens are exactly same.
Is there any special purpose of this file duplication?

[2019-11-07 07:55] k-okada commented on #732
@orikuma can you help him?

[2019-11-07 09:13] orikuma commented on #732
Historically, jsk_footstep_planner was developed in euslisp, and it was reimplemented in C++ after DRC.
These examples are for the euslisp version, and they seems to be left unintentionally in launch directory.
Therefore, I think they should be only in the eusplanner directory.
However, the euslisp version is no longer maintained as far as I know.
If you just want to see how the C++ version works,

[2019-11-07 17:07] k-okada commented on #732
thank you @sktometometo can you update https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_planner/README.md based on @orikuma comment?

[2019-11-08 02:23] sktometometo commented on #732
Thank you, @orikuma.
@k-okada , I have created a pullreq about this issue.
Could you please review it?

[2019-11-08 02:47] sktometometo commented on #732
I have fixed my error.

[2019-11-15 05:56] #732 closed

[2019-11-15 06:30] sktometometo opened #736 "Does FootstepGraph::finalizeSteps() have a redundant argument ?"
I have a question about FootstepGraph::finalizeSteps() added to jsk_footstep_planner/src/footstep_graph.cpp in https://github.com/jsk-ros-pkg/jsk_control/pull/653

This method seems to add FootStepState::Ptr of goal footsteps to the 3rd argument (finalizeSteps) in response to the leg of the second argument lastStep. And the first argument last_1_Step is not used.

So What is the purpose of the fir

[2019-11-15 06:46] sktometometo commented on #736
@YoheiKakiuchi

[2019-11-23 12:49] #736 closed

[2020-01-03 21:36] tfoote opened #742 "eus_nlopt failing to build on kinetic armhf"
http://build.ros.org/view/Kbin_uxhf_uXhf/job/Kbin_uxhf_uXhf__eus_nlopt__ubuntu_xenial_armhf__binary/

It seems to have trouble finding nlopt in cmake:
[code]

This appears to be generally reproducible, but occasionally works.

![Screenshot from 2020-01-03 13-34-37](https://user-images.githubusercontent.com/447804/71750598-d6c71a00-2e2d-11ea-9fcc-34395bcf384c.png)

[2020-05-11 07:09] rjshim opened #747 "Question about the usage of unit test codes"
Hi @garaemon,

I have a question about how to write unit test codes for robot controllers.
Since you do not use a physical robot while unit testing your controller, you can only use a simulator, in this case, Gazebo, as you elaborated in [this code](https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/test/test_footstep_controller.py), but this is not really following the

[2020-05-11 11:07] garaemon commented on #747
As far as I remember, [the code](https://github.com/jsk-ros-pkg/jsk_control/blob/master/jsk_footstep_controller/test/test_footstep_controller.py) is a demonstration code rather than a unit test code.

In order to make test_footstep_controller.py a unit test, [rostest](http://wiki.ros.org/rostest) can be a good solution.

[2020-05-12 00:19] rjshim commented on #747
@garaemon

I thought it was a test code as it was in the test folder. Thank you for your advice. I will try that

Ryan

[2020-05-12 00:19] #747 closed

[2020-05-24 16:24] Kanazawanaoaki opened #748 "PR2でOptmotiongenの障害物回避IKが上手くいかない"
Optmotiongenの[sample-arm-reach-ik-obstacle](https://github.com/jsk-ros-pkg/jsk_control/tree/master/eus_qp/optmotiongen#sample-arm-reach-ik-obstacle)に使われている障害物回避IKをPR2で試してみようとした(https://github.com/Kanazawanaoaki/oneweek_kanazawa/issues/1 )ところ以下のような問題が発生しました。

### :collision-avoidance-link-pair を指定する必要がある
sample-arm-reach-ik-obstacleと同じように`:obstacles (list *obstacle*)`として障害物を指定してもPR2の場合は障害物回避をすることが出

[2020-05-25 00:48] Naoki-Hiraoka commented on #748
PR2は特殊なロボットで，`:links`や`:link-list`に全リンクが含まれていないため，それらのリンクの干渉が考慮されないのが原因ではないかと思います．

` (objects (send *robot* :link-list (send *robot* :rarm :end-coords :parent)))`
![Screenshot from 2020-05-25 09-36-59](https://user-images.githubusercontent.com/32383525/82768667-6b78f580-9e6b-11ea-8db8-66e42a0c1116.png)

`(objects (send *robot* :links))`
![Screenshot from 2020-05-25 09-36-24](https://user-images.g

[2020-05-25 03:21] Kanazawanaoaki commented on #748
ありがとうございます。
本当ですね、、`(objects (send *robot* :link-list (send *robot* :rarm :end-coords :parent)))`を見て驚きました。考慮したいリンクを全部きちんと指定するようにしないといけないみたいですね。

初期姿勢で物体と干渉していないかのチェックもするようにしようと思います。

[2020-05-26 01:34] Kanazawanaoaki commented on #748
PR2はぶつけるオプションもあるということでしたが、
[code]
と考慮したいリンクを`append`することで回避する事ができました。
![Screenshot from 2020-05-26 10-26-05](https://user-images.githubusercontent.com/38127823/82851834-12c55d80-9f3c-11ea-86bc-62979d0bc467.png)
[code]
![Screenshot from 2020-05-26 10-24-57](https://user-images.githubusercontent.com/38127823/82851947-6041ca80-9f3c-11ea-86b6-9398c7142da2.png)

[2020-05-26 03:40] k-okada commented on #748
メモ：https://github.com/jsk-ros-pkg/jsk_model_tools/issues/171
に議論があるもので．https://github.com/jsk-ros-pkg/jsk_model_tools/issues/171#issuecomment-633789925 に汚いけど，プログラマブルにcollision-linkを正しく（見えるように）する方法が書いてあります．他の人やロボットでもこれが必要な状況が増えたら，各自がコードを書かずに，上流で対応したいともうので，ココにやってきた人は足跡を残していてください．

ちなみにこれはURDFがassocの代わりにfixed jointで別リンクをつなげていく，というのが原因だともいます．

[2020-05-26 04:18] pazeshun commented on #748
@Kanazawanaoaki
まだ
https://github.com/jsk-ros-pkg/jsk_control/blob/master/eus_qp/optmotiongen/README.md
に情報が載ってないので、少なくとも、このissueは開けておいた方がよいと思いました。

[2020-05-26 04:21] Kanazawanaoaki commented on #748
そうですね、開けておくことにします。

[2020-06-07 13:21] hiroya1224 opened #749 "optmotiongen の kxr を表示させるデモでエラーが発生する"
cc. @mmurooka
optmotiongen で kxr を動かすデモ `demo-kxr-inverse-kinematics-statics.l` を試そうとしているのですが，
- euslisp を source から入れてインストール
-  jskeus を `mmurooka/jskeus-bullet` から clone, make

をして，
[code]
として適宜 rosdep install および catkin build したのち，
[code]
とすると，以下のエラーが出て止まってしまいます:
[code]

問題の箇所は jsk_control/eus_qp/optmotiongen/euslisp/instant-configuration-task.l の 2517 行目から定義されている :update-collision-inequality-c

[2020-06-08 00:31] Naoki-Hiraoka commented on #749
以下の行を削除すると正常に動作しました．
https://github.com/mmurooka/jsk_control/blob/392efb3ba7745f14da1cbe4a4d052f962060b4e7/eus_qp/optmotiongen/euslisp/demo/demo-kxr-inverse-kinematics-statics.l#L84-L86
KXRのリンク名が変わったらしく，torso-topというリンクが存在しないためエラーになっているようです．

また，jskeusのmmurooka/jskeus-bulletを作りなおしたブランチが存在し，それが既にjskeusのmasterにmergeされている(relseaseはされていない)ので，jskeusのmasterをソースから入れてコンパイルしても動きます．
https://github.com/euslis

[2020-06-08 04:38] hiroya1224 commented on #749
動作確認しました
ありがとうございます！

[2020-06-08 04:38] #749 closed

[2020-06-08 05:08] future731 opened #750 "optmotiongenにおけるbsplineを用いたdynamicな動作について"

[2020-06-08 09:14] future731 commented on #750
間違えて内容のないissueを送ってしまいましたが，追記という形で立てます．

@mmurooka さん，有識者の方々
optmotiongenでjaxonを用いてステップ，歩行及び走行を試そうとしていました．
ロボットに2歩のステップを踏ませるように制約を与えたのですが，
ロボットの重心軌道z方向がジャンプするような軌道を取り，計算がうまくいかなかったので質問させていただきたいです．
https://drive.google.com/file/d/1nhIIejdv_Mhr4Bhfg0ny-qtdNLJYFrJa/view?usp=sharing

こちらは，重心軌道はフリーフォールであることが想定されていて，離地と着地のタイミングを調整する必要があるということでしょうか．
また，重心がz方向に動くことによるzmp変化は考慮されているのでしょうか．
また，manualディレクトリにあるマ

[2020-08-20 08:45] tfoote opened #752 "eus_nlopt in kinetic fails to build on uxhf targets."
The package eus_nlopt in kinetic has been detected as not building on all platforms in the buildfile uxhf. The release manager for kinetic will consider disabling this build if it continues to fail to build.
- jenkins_urls:
   - [ubuntu xenial armhf](http://build.ros.org/view/Kbin_uxhf_uXhf/job/Kbin_uxhf_uXhf__eus_nlopt__ubuntu_xenial_armhf__binary)

[code]

[2020-09-16 02:29] future731 commented on #750
返信ありがとうございます．
角運動量のタスクとして， https://github.com/jsk-ros-pkg/jsk_control/blob/master/eus_qp/optmotiongen/manual/manual.pdf
の 78ページと83ページを見たのですが，角運動量のノルムが0になるように最適化されているということで正しそうでしょうか．

[2020-09-26 14:45] mmurooka commented on #750
はい．
ただ，式(4.319)の後に`\bm{A}_{\theta}と\bm{A}_{\phi}`（= Centroidal momentum matrix）をゼロとすると仮定しているので，関節速度に応じた各リンクの運動で生じる角運動量は無視されていることになります．つまり，最適化のコンフィギュレーションに含まれている角運動量(`:ang-moment-control-vector`から得られる角運動量軌道）はゼロになるように最適化されていますが，実際のロボットの運動の角運動量はゼロになっているとは限らないです．これが実際にどのくらい問題になるのかは分かりませんが，当時の自分の中では要修正ポイントとして残っていました．実装にはCentroidal momentum matrixの関節角度による微分が必要になって，結構大変なはずです．

[2020-09-29 05:53] future731 commented on #750
返信ありがとうございます．

Centroidal momentum matrixの関節角度微分を実装するのは計算量的にもだいぶ大きそうですね．

先ほど，hrp2でうまくいった歩行っぽい動作がjaxonで動かない件が解決しました．設定ファイルのlistの書き方を間違えていたようです．

(list (A) (B))と書くべきところを((list A) (list B))と書いていたのを直したところ，hrp2と同じように歩くモーションを生成できました．choreonoidや実機ではまだ試していないですが，それっぽいモーションができていそうです．

[2020-11-25 06:25] Naoki-Hiraoka opened #757 "jsk_footstep_controllerのREADMEのHRP2の写真はバグと思われます"
[jsk_footstep_controllerのREADME](https://github.com/jsk-ros-pkg/jsk_control/tree/master/jsk_footstep_controller)のHRP2の写真では、odomがBODYと同じ高さにありますが、これはhttps://github.com/fkanehiro/hrpsys-base/pull/1297 で指摘されているhrpsysのバグによるもので、本来はJAXONと同様に足付近の高さにあるものだと思われます。

[2020-12-10 03:53] knorth55 opened #759 "release request for melodic"
`jsk_ik_server` is needed for `drc_task_common` in `jsk_demos`, which is not released in melodic.
in order to build `jsk_demos`, we need to build `jsk_control` from source now...

[2020-12-10 05:25] k-okada commented on #759
done -> https://github.com/ros/rosdistro/pull/27716
--
◉ Kei Okada

2020年12月10日(木) 12:54 Shingo Kitagawa <notifications@github.com>:

[2020-12-10 05:59] knorth55 commented on #759
Thank you!

[2020-12-10 05:59] #759 closed

[2022-10-26 13:03] clalancette opened #778 "New release into Melodic"
@k-okada Currently there are regressions in this package on Melodic, mostly because eus_qpoases can't build anymore: https://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__eus_qpoases__ubuntu_bionic_amd64__binary/19/ .

The reasons seems to be that https://projects.coin-or.org no longer hosts subversion, and is instead git now.  It also seems like this is already fixed in this package.

Can you pleas

[2022-10-27 01:45] k-okada commented on #778
@clalancette thank you for report, rereleased new version https://github.com/ros/rosdistro/pull/35067